.basketProduct{
display: flex;

padding-bottom: 5px; 
align-items: center;
justify-content: flex-start;
border: 1px solid rgb(130, 130, 240);

}
.basketProduct_image{
    object-fit: contain;
    position: relative;
    padding: 1%;
    width: 20%;
    height: 23%;
    
    
}

.basketProduct_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     justify-content:center ;
     padding-top: 3%;
     padding-bottom: 3%;
     
}
.basketProduct_box_lower{
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 1%;
margin-bottom: 1%;
}
.basketProduct_box_lower >small{
    margin-right: 2%;
    padding-right: 2%;
}
.basketProduct_box_lower_box{
    display: flex;
    flex-direction: column;
    
}
.quantity{
    border: 3px solid rgb(110, 154, 235);
    padding: 3%;
}
.quantityChange{
    cursor: pointer;
    padding: 5%;
}
.button{
    margin-left: 3%;
    padding-left: 2%;
    margin-right: 3%;
    border-radius: 7px;
    background-color: rgb(136, 209, 238);
}
@media screen and (max-width: 500px) {
    .basketProduct{
        flex-direction: column;
        padding: 2%;
    }
}
