.homepage{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    


}
.homepage__lowersection{
    display: flex;
    background-color: grey;

    

}
@media screen and (max-width: 500px) {
    .homepage__lowersection{
        flex-direction: column;
        
    
        
    
    }
}



