.productView{
    display: flex;
    flex-wrap: wrap;
    
    border: 5px solid grey;
    
    }

@media screen and (max-width) {
    .productView{
        width: 100%;
        flex-wrap:nowrap;
        flex-direction: column;
    }
}