.sidebar{
    
    
    display: flex;
    flex-direction: column;
    position: relative;
    
    
    
    border: 2px solid grey;
    background-color: aliceblue;
   
}
.sidebar >h3{
    cursor: pointer;
}
.sidebar__category{
    border-bottom: 1px solid lightgrey;
    padding: 4px;
    background-color: rgb(162, 175, 185);
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    
}